@charset "UTF-8";
body {
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Viga", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header {
  position: relative;
  width: 100%;
  height: 667px;
  background-image: url(../img/fv02.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  overflow: hidden;
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  margin-top: 8px;
}
.header__logo img {
  width: 154px;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 80px;
  height: 100vh;
  background: #fff;
  z-index: 999;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}
.nav.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.nav .nav__list {
  padding: 80px 20px 20px;
}
.nav .nav__item + .nav__item {
  margin-top: 20px;
}

.nav__link {
  color: #FAF7F1;
  text-align: center;
  display: block;
  padding: 16px 0;
  text-decoration: none;
}
.nav__link:hover {
  opacity: 0.7;
}

.nav__en,
.nav__jp {
  color: #222222;
}

.btn--black {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 248px;
  height: 42px;
  background-color: #222222;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.btn--black:hover {
  opacity: 0.8;
}

.btn--entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 248px;
  height: 42px;
  line-height: 42px;
  background-color: #AFA86F;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
}
.btn--entry:hover {
  opacity: 0.8;
}

.header__menu-button {
  position: fixed;
  top: 9px;
  right: 20px;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.header__menu-button .line {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 4px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.header__menu-button .menu-label {
  font-size: 10px;
  margin-top: 2px;
}
.header__menu-button.is-active .line:nth-child(1) {
  -webkit-transform: rotate(45deg) translateY(8px);
          transform: rotate(45deg) translateY(8px);
}
.header__menu-button.is-active .line:nth-child(2) {
  opacity: 0;
}
.header__menu-button.is-active .line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translateY(-8px);
          transform: rotate(-45deg) translateY(-8px);
}

.header__content {
  position: absolute;
  bottom: 10px;
  left: 12px;
  text-align: left;
  padding-bottom: 0;
}

.header__catch {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
}

.header__sub {
  position: absolute;
  left: -12px;
  top: 132px;
  background-color: #000;
  display: inline-block;
  padding: 9px 12px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
}

.header__news {
  margin-top: 71px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  border-radius: 12px;
  max-width: 351px;
}

.header__news-label {
  background: #000;
  color: #fff;
  font-size: 10px;
  padding: 8px 12px;
  background-origin: 8px;
  margin-right: 12px;
}

.header__news-content {
  margin: 0;
  line-height: 1.4;
}

.header__news-text {
  font-size: 12px;
  background-color: #fff;
  color: #222222;
  padding: 8px 12px;
  border-radius: 12px;
}

.swiper-section {
  margin-bottom: 28px;
  /* 下のセクションとの間隔（例） */
  padding: 40px 0;
  /* 上下のパディング（例） */
  width: 100%;
  /* セクションの幅 */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* paddingを含めて幅を計算 */
  /* その他のセクション全体のスタイル */
}

.swiper-container {
  width: 100%;
  height: auto;
  /* 必要に応じて高さを指定 */
  position: relative;
  /* メッセージコンテナを絶対配置するため */
  overflow: hidden;
  /* スライドがコンテナからはみ出すのを隠す */
}

.swiper-wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.swiper-slide {
  width: 100%;
  height: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  /* 画像がコンテナに合わせてトリミングされるように */
}

.swiper-pagination {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  background: #ccc;
  opacity: 0.8;
  margin: 0 5px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}

.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  margin-top: -15px;
  z-index: 1;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
}

.swiper-button-prev {
  left: 10px;
}

.swiper-button-next {
  right: 10px;
}

.swiper-message-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  /* 中央に配置 */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* メッセージを縦に並べる */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* メッセージを中央揃え */
  width: 334px;
  /* メッセージコンテナの幅を調整 */
  z-index: 2;
  /* 画像より前面に表示 */
}

.swiper-message {
  background-color: #fff;
  padding: 4px 11px;
  /* 左右のパディングを少し大きく */
  margin: 12px 0;
  /* メッセージ間の縦のスペースを調整 */
  text-align: center;
  font-family: Noto Sans JP;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1;
}

.swiper-message p {
  color: #222222;
  line-height: 1.5;
}

.top-section {
  position: relative;
  text-align: center;
}
.top-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
}
.top-section .container .top-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.top-section .container .top-image img {
  display: block;
  width: 320;
  height: 173;
  -o-object-fit: contain;
     object-fit: contain;
}
.top-section .container .top-textbox {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 2.5;
  color: #222222;
  text-align: center;
}
.top-section .container .main-title {
  font-family: Viga;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.2;
}
.top-section .container .description {
  margin-bottom: 39px;
}
.top-section .container .call-to-action {
  margin-bottom: 39px;
}
.top-section .container .view-more-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  color: #222222;
  border: 1px solid #222222;
  width: 277px;
  padding: 23px;
  font-family: Viga;
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  cursor: pointer;
  position: relative;
}
.top-section .container .view-more-button::after {
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../img/arrow\ 4.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: 17px;
}

.know-people-section {
  position: relative;
  margin-top: 71px;
}
.know-people-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.know-people-section .container .section-title {
  font-family: Noto Sans JP;
  font-weight: 700;
  font-size: 32px;
  line-height: 1;
}
.know-people-section .container .section-title .underline {
  text-decoration: underline;
}
.know-people-section .container .section-title::after {
  content: "MEMBER";
  font-family: Poppins;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  vertical-align: middle;
  color: rgba(151, 151, 151, 0.1019607843);
  left: 10px;
  position: absolute;
  z-index: -1;
}
.know-people-section .container .section-text {
  font-family: Noto Sans JP;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 43px;
}/*# sourceMappingURL=style.css.map */